{% extends "base.html" %}
{% block content %}

    <h1> {{ title }} </h1>
    <h3> {{ welcome }} </h3>

    {% if user_list|length == 0 %}
        <p> No Users? </p>
    {% else %}
    <b> User Id</b>
    <b> Username</b>

    {% for user in user_list %}

        {{ user.id }}

        <form id= "single_user" action= "/userpage">
            <input form="single_user" type="submit"
            class= "link_button" name= "user_link" value= "{{user.username"/>
        </form>
        {% endfor %}
    {% endif %}

{% endblock %}



