{% extends "base.html" %}
{% block content %}

    <h1>{{title}}</h1>
    <h3>{{welcome}}</h3>

    {% if blogs[length == 0 %]}
        <p> No Blogs yet</p>
    {% else %}

        <p><b>Post title</b></p>
        <p><b>Author</b></p>

        <p><b>Post Body</b></p>
    {% for blog in blogs %}
        <form id= "singleblog_blog" action="/singleblog">
            <input form= "singleblog_blog" type= "submit"
                class= "link_button" name= "blog_name" value= "{{blog.name}}"/>
        </form>
     <br>
     <form id= "singleuser" action="/userpage">
        <input form= "single_user" type=" submit"
            class= "link_button" name="user_link" value= "{{blog.owner}}"/>
    </form>

    {{blog.body}}

        {% endfor %}
    {% endif %}

{% endblock %}





